html, body{
    height: 100%; 
}
body {
    background-color: #e5e7ea;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #5a6570;
}

p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}

 button{
    margin: 10px;
 }
/*_______________ Logo _________________ */
#life{
    font-family:'Great Vibes', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #5a6570;
    
}

/*_______________  Nav Element ____________ */
nav{
    color: #5a6570;
}


/*____________ Post Card _____________*/
.recipe_title{
    font-size: 1.7rem;
}
.recipe-link{
    font-size: 52px;
    color: #FF6B6B;
    text-decoration: none;
}
.date_created{
    margin-right: 50px;
}

.post-image{
    width: 95%;
    height: 250px;
}
.author{
    margin-right: 30px;
    font-size: 12px;
}
.user_spec{
    font-size: 12px;
}
.details-img{
    width:100%;
    height: 250px;
}
a:hover{
    color: #0698a8;
}
.postdatelikes{
    font-size: 12px;
}

.react{
    margin-right: 10px;
}

/*________________ Details Page ____________*/
.details_section{
    display: flex;
    
}
.image_case{
    margin-right: 5px;
}

/*__________ form ____________*/
form{
    width: 100%;
}

.changerecipe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.changerecipeform{
    width: 60%;
}



/*________________  Footer __________________ */
.dark-bg {
    background-color: #5a6570;
}

.social-link{
    color: #e5e7ea;
    text-decoration: none;
    font-size: 1.2rem;
   
}   

.social-link:hover{
    color:#364049 ;
}

footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* clear: both; */
}