html, body{
    height: 100%; 
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

p{
    margin-bottom: 0;
}

a{  
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-decoration: none;
    color: black;   
}

button{
    margin: 10px;
}

.home{
    margin-top: 5px;
    background-color: #840404;
    color: black;
} 

hr{
    border: 1px solid #5c875c;
}
.navbar-light .navbar-nav .nav-link:hover,
.link:hover,
.page-link:hover{
    color: #840404;
}
.navbar-light .navbar-text a:hover{
    color: #840404;
}

/*_______________ Logo _________________ */
#life{
    font-family:'Great Vibes', cursive;
    font-size: 50px;
    font-weight: 400;
    color: black;
    margin-right: 30px;
    
}
#life:hover{
    color: #840404;
}
/*_______________  Nav Element ____________ */
nav{
    background-color: #aaf3aa;
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar-light .navbar-text{
    color: black;
}
.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}
.nav-link:hover{
    color: #840404;
}
.active{
    background-color: #840404;
    color: #ffffff !important;
    font-weight: 900;
    border-radius: 10px;
}

.dropdown-menu{
    background-color: #aaf3aa;
    border: 1px solid black;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
} 
.dropdown-item:focus{
    background-color: #ffffff;
    color: #840404;
}
.dropdown-item:active{
    background-color: #ffffff;
    color: #840404;
}
.dropdown-item:hover,
.dropdown-item a:hover{
    color: #840404;
}
/*____________ Post Card _____________*/
.post{
    border: 2px solid #5c875c;
    height: 29rem;  
}
.recipe_title{
    font-size: 1.7rem;
}
.recipe_title:hover{
    color: #840404;
}
.recipe-link{
    font-size: 52px; 
    color: #840404;
    text-decoration: none;
}
.recipe-link:hover{
    text-decoration: underline;
    color: #840404;
}
.date_created{
    margin-right: 50px;
}

.post-image{
    width: 95%;
    height: 250px;
}
.author{
    margin-right: 30px;
    font-size: 12px;
}
.user_spec{
    font-size: 12px;
    margin-right: 20px;  
}
.share{
    font-size: 12px;
    height: 18px;
    padding: 2px;
    margin: 2px;
}
.details-img{
    width:100%;
    height: 250px;
}
.postdatelikes{
    font-size: 12px;
}

.react{
    margin-right: 10px;
}

/*________________ Details Page ____________*/
.details_section{
    display: flex;
    
}
.detail_info{
    margin-left: 20px;
}
.image_case{
    margin-right: 5px;
}

/*__________ form ____________*/
form{
    width: 100%;
}

.changerecipe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.changerecipeform{
    width: 60%;
} 
 
/*________________  Footer __________________ */
.dark-bg {
    background-color: #5a6570;
}

.social-link{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;   
}   

footer{
    background-color: #aaf3aa;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;       
}

/* like Button */

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;   
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.likeanddislike{
    display: inline-block;
}

.page-link{
    padding: 0.375rem 0.5rem;
    color: black;
}
.page-item.active .page-link {
    background-color: #840404;
    border-color: #5a6570;   
}
.page-link:focus{
    color: #840404;
    border-color: #840404;
    box-shadow: none;
}

.summernote-div iframe {
    width: 100% !important;
    max-width: 720px;
    min-width: 57%;
}

.changerecipeform, .changerecipe form {
    max-width: 720px;
    min-width: 57%;
}


@media (max-width: 768px) {
    .active{
        border-radius: 0px;
    }
     
    .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .author {
        margin-right: 20px;
    }
    .card-body{
        padding: 0.5rem 0.5rem;
    }
    .user_spec{
        margin-right: 5px;  
    }
    .date_created {
        margin-right: 10px;
    }

    /* Update Page */

    #id_recipe_image{
        font-size: 10px;
        font-weight: bold;
    }
} 

@media screen and (max-width: 1000px) {
    .summernote-div iframe,.changerecipeform, .changerecipe form {
        min-width: 75%;
    }
} 
