{% extends 'base.html' %}
{% load static %}
{% block title %}Add new recipe{% endblock %}
{% block content %}
<!-- Prevent external access from someone familiar with the link -->
{% if user.is_authenticated %}
{% load crispy_forms_tags %}
<div class="changerecipe">
    <div class="form-group changerecipeform">
        <form method="post" action="{% url 'add_recipe' %}">
            <!-- Insert form data   -->
            {% csrf_token %}
            {{ form.as_p }}

            <div>
                <p>
                    <button class="btn btn-secondary m-3" type="submit">Add Recipe</button>
                </p>
            </div>
        </form>
    
    </div>
</div>
{% else %}
<div class="text-center ">
    You do not have access to this page.
    <br>
    <strong>
        <a class="link" href="{% url 'account_signup' %}" aria-label="Click to Register">Sign Up</a>
    </strong>
    to add African Recipes
</div>
{% endif %}
{% endblock %}