{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="African food recipes, Food blog, African delicacies">
        <meta name="keywords" content="African, Food, Tasty, Preparation process">
        <meta name="author" content="MamasKitchen">
        <title>
            {% block title %} 
                African Menu 
            {% endblock %} 
        </title>
        <!-- Google Fonts Link-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@700&family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        <!-- Favicon Links -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">

        <!-- Font Awesome Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
         <!-- Bootstrap Access Link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        
        <!-- Custom CSS link -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>

<body class="d-flex flex-column h-100 main-bg">
    
    <!-- Logo and Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="Logo (Go the main page)" id="life">MamasKitchen</a>
            <!-- Nav toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'home' %} active {% endif %}" aria-label="Homepage" href="{% url 'home' %}">HOME</a>        
                    </li>
                    <li>
                    <!-- Country List Dropdown -->
                    {% if country_list %}
                    <div class="dropdown">
                        <a class="nav nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        COUNTRIES
                        </a>
                    
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for country in country_list %}
                            <li>
                                <a class="dropdown-item" href="{% url 'countries' country %}" aria-label="Link to access a country recipe">{{ country }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'add_recipe' %} active {% endif %}" href="{% url 'add_recipe' %}" aria-label="Add new recipe page">ADD RECIPE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Sign out Page">LOG OUT</a>
                    </li>
                   
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}" aria-label="Login Page">SIGN IN</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'account_signup' %}" aria-label="Registration page">SIGN UP</a>
                    </li>
                    {% endif %}  
                    
                </ul>
                <span class="navbar-text">
                    {% if user.is_authenticated %}
                        Signed in as                
                            <a href="{% url 'edit_profile' %}" aria-label="Edit {{ user.username }}'s profile">{{ user.username }}</a>
                    {% else %}
                        Tasty African Recipes
                    {%  endif %}
                </span>
            </div>
        </div>
        
    </nav>
    
    <!-- Adapted from I think therefore I blog -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Contents inserted here -->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
            Content Goes here 
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center">Code Institute Project</p>
        <p class="m-0 text-center"> 
            <!-- Social Links -->
            <a
                href="https://www.facebook.com"
                class="social-link"
                target="_blank"
                rel="noopener"
                aria-label="Find us on Facebook (link opens in a new tab)"
                ><i class="fab fa-facebook-square ms-3"></i>
            </a>
            
            <a
                href="https://www.twitter.com"
                class="social-link"
                target="_blank"
                rel="noopener"
                aria-label="Find us on Twitter (link opens in a new tab)"
                ><i class="fab fa-twitter-square ms-3"></i>
            </a>

            <a
                href="https://www.instagram.com"
                class="social-link"
                target="_blank"
                rel="noopener"
                aria-label="Find us on Instagram (link opens in a new tab)"
                ><i class="fab fa-instagram-square ms-3"></i>
            </a>
            <a
                href="https://www.pinterest.com"
                class="social-link"
                target="_blank"
                rel="noopener"
                aria-label="Find us on Pinterest (link opens in a new tab)"
                ><i class="fab fa-pinterest ms-3"></i>
            </a>
        </p>
        
        <p class="text-center"><small> <i class="fas fa-copyright"></i> BelovedPearl 2023</small></p>        
    </footer>
    <!-- Bootstrap Javascript Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- Adapted from 'I Think Therefore I Blog' project walkthrough -->
     <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2000);
    </script>
</body>

</html>