
{% extends 'base.html' %}
{% load static %}
{% block title %}404 - Page not found{% endblock %}
{% block content %}

    <div class="text-center mt-5">
        <div class="card">
            <div class="card-inner">
                <h3>
                    Opps!
                </h3>
                <h5>
                    Mama'sKitchen  couldn't find that page!
                </h5>
                <h5>
                    Click <a href="{% url 'home' %}">here</a> to go back to the main page.
                </h5>
            </div>
        </div>

    </div>

{% endblock %}