{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid post">
    <div class="row">
        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'recipe-detail' recipe.pk %}" class="recipe-link" aria-label="Link to the Recipe detail page">
                                    <h2 class="card-title">{{ recipe.title }}</h2>                                 
                                </a>
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="card-img-top post-image"
                                    src="{% static 'images/africa.webp' %}" alt="Recipe Placeholder Image">
                                {% else %}
                                <img class="card-img-top post-image" 
                                    src=" {{ recipe.recipe_image.url }}" alt="Recipe Image">
                                {% endif %}
                                <div class="image-flash">    
                                    <p>
                                        <span class="author">Posted By: {{ recipe.author }}</span>                             
                                    </p>
                                                                
                                    <p class="text-center">{{ recipe.country }}</p>
                                </div>
                               
                            </div>
                            
                            <hr>
                            <p class="card-text text-muted h6 postdatelikes"><span class="date_created">{{ recipe.date_created }}</span> <span class="react"><i class="fas fa-thumbs-up"></i>
                                {{ recipe.number_of_likes }}</span><span class="react"><i class="fas fa-thumbs-down "></i>
                                {{ recipe.number_of_likes }}</p></span>
                                
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    
</div>
 



{% endblock%}