{% extends 'base.html' %}
{% load static %}
{% block title %} Update recipe {% endblock%}
{% load crispy_forms_tags %}
{% block content %}


{% load crispy_forms_tags %}
<h1>Update Recipe</h1>
<!-- Allow only authenticated users access to the page -->
{% if user.is_authenticated %}  
    <!-- Restrict recipe edit to authors only -->
    {% if user == recipe.author %}
        <div class="changerecipe">
            
            <div class="form-group changerecipeform">
                
                {% csrf_token %}
                {% crispy form %}
        
            </div>
            
        </div> 
    {% else %}

        <div class="text-center">
        
            <p>You can only <strong>Update</strong> the posts you created.</p>
            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
        </div>
        
    {% endif %}

{% else %}

    <div class="text-center">
        You cannot update a post here!. 
        <br>
        <strong><a href="{% url 'account_signup' %}" aria-label="Click to Register">Sign Up</a></strong> to become a member of the community.
    </div>

{% endif %}


{% endblock %}