{% extends 'base.html' %}
{% load static %}
{% block title %}Update recipe{% endblock %}
    {% load crispy_forms_tags %}
    {% block content %}
        {% load crispy_forms_tags %}
        <h2>Update Recipe</h2>
        <!-- Allow only authenticated users access to the page -->
        {% if user.is_authenticated %}
            <!-- Restrict recipe edit to authors only -->
            {% if user == recipe.author %}
                <div class="changerecipe">
                    <div class="form-group changerecipeform">
                        <form method="post" action="{% url 'updaterecipe' pk=recipe.pk %}">
                            <!-- Insert form data   -->
                            {% csrf_token %}
                            {{ form.as_p }}                                          
                
                            <div>
                                <p>
                                    <button class="btn btn-secondary m-3" type="submit">
                                        Update Recipe
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="text-center">
                    <p>
                        You can only <strong>Update</strong> the posts you created.
                    </p>
                    <a href="{% url 'home' %}" class="btn btn-secondary mt-4 link">
                        Home
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="text-center">
                You cannot update a post here!.
                <br>
                <strong>
                    <a class="link" 
                       href="{% url 'account_signup' %}" 
                       aria-label="Click to Register">
                        Sign Up
                    </a>
                </strong> to become a member of the community.
            </div>
        {% endif %}
    {% endblock %}
